# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.pdf
*.jpg
*.xlsx
*.aux
*.lof
*.log
*.lot
*.gz
*.toc
*.db


# Metadata
*.aliases
*.lvlps
.cache/
